@media (max-width : 1199.5px){
/* Custom */
h1{
    font-size: 3.75rem;
    
}
h2{
    font-size: 2.1875rem;
}
h3{
    font-size: 1.875rem;
    line-height: 2.6875rem;
}
h5{
    font-size: 1.0625rem;
}
}
@media (max-width : 991px){
/* @ Navbar */
.header-scrolled{
    height: auto;

}
.header_wrapper .nav-collapse{
    margin-top: -0.125rem;
}
.header_wrapper .menu-navbar-nav{
    text-align: center;
    background-color: var(--bg-white);
    padding-bottom: 0.9375rem;
}
.header_wrapper .nav-item .nav-link{
    margin-top: 0.9375rem;
}

}
@media (max-width : 767px){
/* Custom Css*/
h1{
    font-size: 2.5rem;
    line-height: 3rem;
}
h2{
    font-size: 1.875rem;
    line-height: 2.375rem;
}
h3{
    font-size: 1.5625rem;
    line-height: 2.1875rem;
}

/* about */

}
@media (max-width : 575.5px){
/* Custom */
.banner_wrapper .banner-content h2::after{
    width: 50%;
    left: 30%;
}
.header_wrapper .navbar{
    padding: 0rem 0;
}

.footer_wrapper form{
    display: block;
    width:100%;
    margin: 0 auto;
}

.about_wrapper img{
    max-width: 100%;
    height: auto;
}

.header_wrapper .navbar-brand img{ 
    max-width: 2.8rem;
    height:auto;

}
.gotopbtn{
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    right: 20px;
    bottom: 20px;
}


}
@media (max-width : 390px){
/* Banner */
.banner_wrapper .banner-content h2::after{
    width: 45%;
    left: 35%;
}
.footer_wrapper form{
    display: block;
    width:100%;
    margin: 0 auto;
}

.header_wrapper .navbar-brand img{ 
    max-width: 2.5rem;
    height:auto;

}

.header_wrapper .navbar-toggler i{ 
    font-size: 1rem;

}

.header_wrapper .navbar{
    padding: 0rem 0;
}

.about_wrapper img{
    max-width: 100%;
    height: auto;
}
.main-btn{
    padding: 0 1.8rem ;
}
.gotopbtn{
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    right: 20px;
    bottom: 20px;
}
}